.container {
    /* display:inline-grid;
    grid-template-rows:5fr 2fr;
    height:100%;
    width:100%;
    overflow:hidden; */
    /* display:flex;
    flex-direction:column;
    align-items:center; */
    display:flex;
    align-items:center;
    /* margin-bottom:8px; */
    padding:8px 0;
    border-bottom:1px #1A1F16 solid;
}
.container img {
    width:88px;
    height:88px;
    object-fit: cover;
}
.container h3 {
    color:#1A1F16;
    height:100%;
    width:100%;
    text-decoration:none;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}
.container:hover {
    cursor:pointer;
}
.mealsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.wrapper {
    width:100%;
    max-width:360px;
}
a {
    width:100%;
    padding-left:8px;
}
.svg {
    width:35px;
}
.modal {
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#FFF;
}
.modal img {
    width:100%;
}
.modal div {
    position:absolute;
    top:8px;
    right:8px;
}
.hide {
    display:none;
}