.container {
    display:inline-grid;
    grid-template-rows:5fr 2fr;
    height:100%;
    width:100%;
    overflow:hidden;
    /* display:flex;
    flex-direction:column;
    align-items:center; */
}
.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-row: 1/3;
}
.container h3 {
    background-color:#1A1F16;
    color:#94ECBE;
    height:100%;
    width:100%;
    text-decoration:none;
    margin:0;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
}
.container:hover {
    cursor:pointer;
}
.mealsContainer {
    width: 100%;
    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
    flex-wrap: wrap;
}
.wrapper {
    height:31%;
    max-height:210px;
    width:45%;
    max-width:360px;
}