.container {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-decoration:none;
    color:#000;
    width:100%;
    border:1px #1A1F16 solid;
    justify-content:center;
}
.container div {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-bottom:0;
    padding:8px;
}